body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
}

#allmap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    margin:0;
    font-family:"微软雅黑";
    z-index: 999;
}

.container, .container-fluid, .row, .col-md-4,.col-md-6,.col-md-8{
    height: 100%;
}